html
	head
		title Burnt Toast
		link(href='/stylesheets/style.css', rel='stylesheet')
	- if (typeof(bodyClasses) == 'undefined')
		- bodyClasses = ""
	body(class=bodyClasses)
		#header
			h1 Burnt Toast
		#wrapper
			#content!= body
			#footer